
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    text-transform: uppercase;
}

header {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;

    ul {
        display: flex;
        gap: 3rem;
    }


    a {
        color: white;

        &:hover {
            color: #e5e504
            ;
        }
    }
}
